@charset "UTF-8";
/*=========================================================
1. 폰트
=========================================================*/
@import url('font.css');

/*=========================================================
2. 리셋
=========================================================*/
/* html{ scroll-behavior:smooth;} */
*{word-break: keep-all;}
body,html {background:transparent; width: 100%; height: 100%; font-size:14px; color: #333; font-family:  'Spoqa'; font-weight: 500; text-rendering: optimizeLegibility;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; box-sizing: border-box; font-weight: normal;}
strong{margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; box-sizing: border-box;}
article, aside, header, footer, figure, figcaption, nav, section, div, p, ul, ol, li, dl, dt, dd {display: block;}
body {padding: 0; margin: 0; box-sizing: border-box; word-break:break-all; -ms-word-break:break-all;  font-weight: normal; font-size:14px; color:#383843;}
h1, h2, h3, h4, h5, h6 {font-weight: bold; display: inline;}
ol, ul, li {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table {border-collapse: collapse; border-spacing: 0; table-layout: fixed; width: 100%;}
button {margin: 0; padding: 0; border: 0; font: inherit; color: inherit; background:transparent; overflow:visible; cursor: pointer; line-height: 1;}
a {text-decoration: none !important; cursor: pointer; color: #383843; vertical-align: baseline;}
a:hover {text-decoration: underline; cursor:pointer;}
legend, caption {display: none;}
img {border: 0; vertical-align: middle;}
address, i, em {font-style: normal;}

/* form */
textarea {resize: vertical; font: inherit; overflow-y: auto;}
input, select, optgroup {margin: 0; padding: 0; color:inherit; font: inherit; vertical-align: middle; line-height: normal; }
button, select {text-transform: none;}
button, input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: none; cursor: pointer;}
button:disabled, input:disabled {cursor: default;}
button::-moz-focus-inner,
input::-moz-focus-inner {border: 0; padding: 0;}
input[type='checkbox'],
input[type="radio"] {padding: 0; box-sizing: border-box;}
input[type='search'] {-webkit-appearance: none;}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {-webkit-appearance: none;}
input::-ms-clear {display: none;}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {display: none;}
input[type="checkbox"]{ width: 14px; height: 14px;  cursor: pointer; }
.irOnly {overflow: hidden; position: absolute !important; top: -99999px; left: 0; width: 0; height: 0; font-size: 0; line-height:0; text-indent: -999px;}

/*=========================================================
3. 스타일
=========================================================*/
header{ 
display: flex;
justify-content: center;
padding: 20px 0;
width: 100%;
}
header .logo{
background-image: url('../img/logo.png');
background-repeat: no-repeat;
background-size: contain;
width: 135px;
height: 88px;
}

.contianer{
width: 1400px;
margin: 0 auto;
position: relative;
display: flex;
flex-wrap: wrap;
}
#pageone{
width: 100%;
height: 100%;
background: rgb(218, 217, 217);
overflow-x: hidden;
}
#pageone.hide{
display: none;    
}
#pageone .left{
width: 50%; 
display: flex;
justify-content: center;
flex-wrap: wrap;
box-sizing: border-box;
}
#pageone .left .title{
text-align: center;
display: block;
font-size: 3em;
font-weight: 400; 
padding: 40px 120px;
color: #2072EA; 
}
#pageone .left .title span{
font-weight: 700; 
}
#pageone .left .design1 {
max-width: 534px;
max-height: 528px;
width: 100%;
}

#pageone .right {
width: 50%;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 40px;
}

#pageone .right .box {

width: 100%;
background: rgb(233, 232, 232);
border-radius:30px;
padding: 50px 70px;
max-width: 680px;
}

#pageone .right .box h4 {
display: flex;
justify-content: center;
color: #2072EA; 
font-size: 36px;
font-weight: 400;
padding-bottom: 30px;

}

#pageone .right .box ul {
list-style: none;
display: flex;
flex-direction: column;
padding: 0 15px;
margin-top: 20px;
}

#pageone .right .box ul li {
color: #222;
font-size: 22px;
font-weight: 400;
line-height: 1.5;
margin-bottom: 20px;
}

#pageone .right .box ul li span {
display: inline-block;
width: 140px;
color: #2072EA; 
font-size: 22px;
font-weight: 700;
}

#pageone .right .box ul li:last-child {
margin-bottom: 0px;
}

#pageone .right p {
margin-top: 44px;
display: flex;
text-align: center;
justify-content: center;
color: #666;
font-size: 14px;
font-weight: 400;
padding: 20px 40px;

}

#pageone .right a.start {
position: relative;
margin-top: 30px;
width: 300px;
height: 80px;
border-radius: 20px;
background: #2072EA;
display: flex;
justify-content: center;
align-items: center;
}

#pageone .right a.start span {
color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 700;
display: flex;
justify-content: center;
align-items: center;
}

@media (max-width:1400px){
.contianer{width: 100%;}   
}
/* 태블릿에서 모바일까지 대응 */
@media (max-width:1280px){
#pageone .left{
width: 100%; }
#pageone .right {
padding: 30px 20px;
width: 100%;}
#pageone .left .title{
font-size: 2em;   
padding: 30px 20px;   
}
#pageone .right .box {
padding: 30px 20px;   }
#pageone .right .box h4 {
font-size: 24px;
padding-bottom:15px;
}
#pageone .right .box ul li,#pageone .right .box ul li span  {
width: 100%;
font-size: 16px;
}
#pageone .right p {

padding: 10px 20px; 
font-size: 12px;
}
#pageone .right a.start {
margin-top: 30px;
width: 240px;
height: 60px;
border-radius: 15px;
}
#pageone .right a.start span {
font-size: 24px;
}  
}   

/* 페이지 두번째 */
#pagetwo{
display: none;    
width: 100%;
background: rgba(143, 188, 255, 0.2);
position: relative;
overflow-x: hidden;
}
#pagetwo.show{
 display: block;   
}
#pagetwo .header{
background-color: #2072EA;   
height: 100px;
align-items: center;
display: flex;
position: fixed;


}
#pagetwo .w_logo{
background-image: url('../img/w_logo.png');
background-repeat: no-repeat;
background-size: contain;
width: 99px;
height: 63px;   
flex-grow: 1;
}
#pagetwo .header p{
color: #fff; 
margin-top: 30px;
text-align: right;
font-size: 16px;
}


#pagetwo  .contianer{
width: 100%;
max-width: 1400px;
margin: 0 auto;
position: relative;
display: flex;
padding: 0 15px;
flex-wrap: wrap;
justify-content: center;
}
/* 폼 디자인 부분 */
#formContainer {
width: 100%;
padding-top: 100px;
margin: 0 auto;
}
#pagetwo .qr {
width: 100%;
max-width: 1400px;
margin: 0 auto;
color: #ccc;
font-size: 20px;
font-weight: 400;
margin-top: 30px;
margin-bottom: 40px;
box-sizing: border-box;
}

#pagetwo .container {
width: 100%;
max-width: 1400px;
display: flex;
justify-content: center;
margin-bottom: 30px;
}
#formContainer .select{

color: #2072EA;
background: rgba(143, 188, 255, 0.5);
}
#formContainer .container {
width: 100%;
max-width: 1400px;
margin: 0 auto;
margin-bottom: 30px;
}
#formContainer .select>.qr {
color: #2072EA;
font-weight: 700;
}
#formContainer .checked>.qr {
color: #222;
font-weight: 400;
}

#formContainer .select>.qr {
color: #2072EA;
font-weight: 700;
}

/* 라디오 라벨 스타일링 */
#pagetwo  input[type=radio] {
display: none;
clear: both;
}

#pagetwo input[type=radio]+label {
width: 20%;
display: inline-block;
border-radius: 10px;
background: #fff;
padding: 12px 44px;
margin-right: 21px;
color: #999;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

#pagetwo input[type=radio]:checked+label {
background: #2072EA;
color: #fff;
}

#pagetwo input[type=radio]:disabled+label {
color: rgba(34, 34, 34, 0.30);
background: rgba(255, 255, 255, 0.30);
;
}
#pagetwo  a.next {
position: relative;
margin-top: 50px;
margin-bottom: 30px;
width: 300px;
height: 80px;
border-radius: 20px;
background-color: rgba(143, 188, 255, 0.5);
display: flex;
justify-content: center;
align-items: center;
}
#pagetwo  a.next.select {
background: #2072EA;

}
#pagetwo  a.next.select span {
color: #fff;
}
#pagetwo  a.next span {
color: #2072EA;  
text-align: center;
font-size: 32px;
font-weight: 700;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width:1400px){
#pagetwo .container {
padding: 0 20px;
}
#pagetwo .qr {
padding: 0 20px;}
}
/* 태블릿에서 모바일까지 대응 */
@media (max-width:1280px){
#pagetwo .qr {
padding: 0 20px;
max-width: 100%;
font-size: 16px;
}
#pagetwo .container {
padding: 0 20px;
}
#pagetwo input[type=radio]+label {
padding: 10px 0px;
margin-right: 8px;
font-size: 14px;
}
#pagetwo  a.next  {
margin-top: 30px;
width: 240px;
height: 60px;
border-radius: 15px;
}
#pagetwo  a.next  span {
font-size: 24px;
}  

#pagetwo .header{
height: 150px;

}
#pagetwo .w_logo{
width: 100%;
flex-grow: inherit;
}
#pagetwo .header p{
margin-top: 15px;
text-align: left;
color: #ccc;
font-size: 14px;
width: 100%;
}
}

/* 페이지 세번째 */
#pagethree{
 display: none;
width: 100%;
height: 100%;
background: #2072EA;
position: relative;
overflow-x: hidden;
}
#pagethree.show{
    display: block;
}
#pagethree header{
display: flex;
justify-content: center;
}    
#pagethree  .w_logo{
background-image: url('../img/w_logo.png');
background-repeat: no-repeat;
background-size: contain;
width: 135px;
height: 88px;
}
#pagethree .contianer{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
#pagethree .contianer .design2{
position: relative;
width: 377px;
height: 267px;
margin: 40px 300px -25px 300px;
z-index: 1;
}
#pagethree .contianer p{
    color: #fff;
    padding: 40px 300px;
}
#pagethree .contianer .box::before{
content: "";
position: relative;
top: 0;
background: rgb(143, 188, 255);  
width: 100%;
height: 80px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;

}
#pagethree .contianer .box{
display: flex;
width: 100%;
height: auto;
max-width: 800px;
max-height: 400px; 
background: rgb(233, 232, 232);
border-radius: 30px;
flex-wrap: wrap;
position: relative;
}
#pagethree .contianer .box::after{
content: "";
position: absolute;  
background-image: url(../img/Design2.png);
width: 141px;
height: 142px;
background-size: contain;
bottom:-20px;
right: -50px;
}
#pagethree .contianer .box h3{
color: #2072EA;
font-size: 36px;
padding: 80px 100px;
font-weight: 400;
text-align: center;
}
#pagethree .contianer .box h3 span{
font-weight: 700;
}

@media (max-width:1400px){
    #pagethree .contianer{
        padding: 0 20px;
    }
    
    #pagethree .contianer .box h3{
    padding: 50px 40px;
    font-size: 24px;
    }
    #pagethree .contianer .box::before{
        height: 50px;
    }
    #pagethree .contianer .box::after{
        width: 51px;
        height: 52px;
        background-repeat: no-repeat;
        right: -10px;
    }
    #pagethree .contianer p{
        padding: 40px 30px;
        max-width: 800px;
    }
}

@media (max-width:720px){
    #pagethree .contianer .design2{
        width: 306px;
        height: 218px;
    }
    #pagethree .contianer p{
        padding: 50px 20px;
    }

}

