@charset "UTF-8";
/*=========================================================
1. 폰트
=========================================================*/
@import url('font.css');

/*=========================================================
2. 리셋
=========================================================*/
html{ scroll-behavior:smooth;}
*{word-break: keep-all;}
body,html {background:transparent; width: 100%; height: 100%; font-size:14px; color: #333; font-family:  'Spoqa'; font-weight: 500; text-rendering: optimizeLegibility;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, hgroup, header, footer, figure, figcaption, nav, section {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; box-sizing: border-box; font-weight: normal;}
strong{margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; box-sizing: border-box;}
article, aside, header, footer, figure, figcaption, nav, section, div, p, ul, ol, li, dl, dt, dd {display: block;}
body {padding: 0; margin: 0; box-sizing: border-box; word-break:break-all; -ms-word-break:break-all;  font-weight: normal; font-size:14px; color:#383843;}
h1, h2, h3, h4, h5, h6 {font-weight: bold; display: inline;}
ol, ul, li {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table {border-collapse: collapse; border-spacing: 0; table-layout: fixed; width: 100%;}
button {margin: 0; padding: 0; border: 0; font: inherit; color: inherit; background:transparent; overflow:visible; cursor: pointer; line-height: 1;}
a {text-decoration: none !important; cursor: pointer; color: #383843; vertical-align: baseline;}
a:hover {text-decoration: underline; cursor:pointer;}
legend, caption {display: none;}
img {border: 0; vertical-align: middle;}
address, i, em {font-style: normal;}

/* form */
textarea {resize: vertical; font: inherit; overflow-y: auto;}
input, select, optgroup {margin: 0; padding: 0; color:inherit; font: inherit; vertical-align: middle; line-height: normal; }
button, select {text-transform: none;}
button, input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: none; cursor: pointer;}
button:disabled, input:disabled {cursor: default;}
button::-moz-focus-inner,
input::-moz-focus-inner {border: 0; padding: 0;}
input[type='checkbox'],
input[type="radio"] {padding: 0; box-sizing: border-box;}
input[type='search'] {-webkit-appearance: none;}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {-webkit-appearance: none;}
input::-ms-clear {display: none;}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {display: none;}
input[type="checkbox"]{ width: 14px; height: 14px;  cursor: pointer; }
.irOnly {overflow: hidden; position: absolute !important; top: -99999px; left: 0; width: 0; height: 0; font-size: 0; line-height:0; text-indent: -999px;}

/*=========================================================
3. 스타일
=========================================================*/
header{ 
display: flex;
justify-content: center;
padding: 20px 0;
width: 100%;
}
header .logo{
background-image: url('../img/logo.png');
background-repeat: no-repeat;
background-size: contain;
width: 135px;
height: 88px;
}

.contianer{
width: 1400px;
margin: 0 auto;
position: relative;
display: flex;
flex-wrap: wrap;
}
#pageone{
width: 100%;
height: 100%;
background: rgb(218, 217, 217);
overflow-x: hidden;

}
#pageone .left{
width: 50%; 
display: flex;
justify-content: center;
flex-wrap: wrap;
box-sizing: border-box;
}
#pageone .left .title{
text-align: center;
display: block;
font-size: 3em;
font-weight: 400; 
padding: 40px 120px;
color: #2072EA; 
}
#pageone .left .title span{
font-weight: 700; 
}
#pageone .left .design1 {
max-width: 534px;
max-height: 528px;
width: 100%;
}

#pageone .right {
width: 50%;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 40px;
}

#pageone .right .box {
    
width: 100%;
background: rgb(233, 232, 232);
border-radius:30px;
padding: 50px 70px;
}

#pageone .right .box h4 {
display: flex;
justify-content: center;
color: #2072EA; 
font-size: 36px;
font-weight: 400;
padding-bottom: 30px;

}

#pageone .right .box ul {
list-style: none;
display: flex;
flex-direction: column;
padding: 0 15px;
margin-top: 20px;
}

#pageone .right .box ul li {
color: #222;
font-size: 24px;
font-weight: 400;
line-height: 1.5;
margin-bottom: 20px;
}

#pageone .right .box ul li span {
display: inline-block;
width: 140px;
color: #2072EA; 
font-size: 24px;
font-weight: 700;
}

#pageone .right .box ul li:last-child {
margin-bottom: 0px;
}

#pageone .right p {
margin-top: 44px;
display: flex;
text-align: center;
justify-content: center;
color: #666;
font-size: 14px;
font-weight: 400;
padding: 20px 40px;

}

#pageone .right a.start {
position: relative;
margin-top: 30px;
width: 300px;
height: 80px;
border-radius: 20px;
background: #2072EA;
display: flex;
justify-content: center;
align-items: center;
}

#pageone .right a.start span {
color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 700;
display: flex;
justify-content: center;
align-items: center;
}

@media (max-width:1400px){
.contianer{width: 100%;}   
}
/* 태블릿에서 모바일까지 대응 */
@media (max-width:1280px){
#pageone .left{
width: 100%; }
#pageone .right {
padding: 30px 20px;
width: 100%;}
#pageone .left .title{
font-size: 2em;   
padding: 30px 20px;   
}
#pageone .right .box {
padding: 30px 20px;   }
#pageone .right .box h4 {
    font-size: 24px;
    padding-bottom:15px;
}
#pageone .right .box ul li,#pageone .right .box ul li span  {
    width: 100%;
    font-size: 16px;
}
#pageone .right p {
    padding: 10px 20px; 
    font-size: 12px;
}
#pageone .right a.start {
    margin-top: 30px;
    width: 240px;
    height: 60px;
    border-radius: 15px;
    }
    #pageone .right a.start span {
        font-size: 24px;
    }  
}   